:root {
  --pri: #496dd7;
  --second: #94AAEB;
  --bg: #F8F9FC;
}

a, a:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

.side-bar {
  background: var(--pri);
  height: 100vh;
  width: 220px;
  box-shadow: 3px 0px 10px rgba(0,0,0,0.2), 3px 0px 20px rgba(0,0,0,0.2);
  z-index: 10;
  position: sticky;
  top: 0;
}

.main {
  padding: 0 !important;
  background: var(--bg);
}

.main .navbar {
  background: white !important;
  position: sticky;
  top: 0;
  z-index: 9;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1), 0 3px 20px rgba(0,0,0,0.1);
  height: 4rem;
}


.brand {
  color: #fff !important;
  font-size: 1.8rem;
  letter-spacing: 3px;
  display: block;
  padding: 18px 30px 15px 30px;
  text-transform: uppercase;
}

.side-bar .list-group-item {
  cursor: pointer;
  padding: 25px 20px;
  background-color: unset;
  border: none;
  text-transform: capitalize;
}


.side-bar .list-group-item:hover,
.side-bar .list-group-item:hover a,
.side-bar .list-group-item:hover .fas,
.side-bar .list-group-item:hover .fab
 {
  color: white;
}

.side-bar .list-group-item a {
  color: #ccc;
}

.side-bar .fas {
  font-size: 1.2rem;
  padding: 0 10px 0 0;
  width: 44px;
}


.file-upload {
	position: relative;
	display: inline-block;
}

.file-upload__label {
  display: block;
  padding: .8rem 1.6rem;
  color: #fff;
  background: var(--pri);
  border-radius: .4em;
  transition: background .3s;
}

.file-upload__label:hover {
  cursor: pointer;
  background: var(--second);
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}


.image-overlay .fa-trash-alt {
 font-size: 5rem;
 color: #fff;
 cursor: pointer;
 display: block;
}

.image-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pri);
  opacity: .6;
  transition: .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper:hover .image-overlay{
  top: 0;
}

.image-wrapper {
  overflow: hidden;
  padding: 1px;
}

